html, body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

main {
  margin: 0 auto;
  width: 80%;
  background-color: #aaa;
}

div {
  float: left;
  width: 300px;
  height: 200px;
  line-height: 200px;
  // vertical alignment trick: set line-height = container height
  display: none;

  margin: 0 auto;
  padding: 20px;
  border: solid 2px black;

  font-family: sans-serif, arial;
  font-size: x-large;
  text-align: center;
  transition-duration: 0.5s;
}

.selected {
  background-position: -300px 0;
  background-color: #aaaaff;
  /*border: solid 2px gold;*/
  transition-duration: 0.5s;
}
